html {
  font-size: calc(60% + 0.8vmin);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  line-height: normal;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #A9A9A9;
}

a:active {
  text-decoration: none;
  color: black;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.intro_wrapper {
  padding: 3em 5em;
  align-items: center;
}



